#project-banner {
    background-color: var(--bg-color);
    border-color: var(--border-color);

    border-style: solid;
    border-radius: 0.5em;

    padding: 1%;
    width: 75%;

    opacity: 0.8;
}
